body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.about-me-profession {
  font-size: 14px;
  font-weight: 700px;
  color: #000;
  width: 400px;
  height: 35px;
}
.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px
}

/* main-content-section */
.main-content-section {
  padding: 100px 90px;
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
/* about-me-section */
.about-me-section {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}
.about-me-name-section {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
}
.about-me-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

/* my-projects-section */
.my-projects-section {
  margin: 0 0 50px 0;
}
.my-project-list {
padding: 0 0 0 15px;
}
.my-projects-item {
  color: #000;
  font-weight: 700;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* my-work-experience */
.my-work-experience-company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 10px;
}
.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
}
.my-work-exp-slash {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}
.my-work-duties {
  padding: 0 0 0 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
 .my-work-experience-company-block {
   margin: 0 15px 0 0;
 } 
.my-work-experience-section {
  margin 0 0 20px 0;
}

/* education-section */

.my-education-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000; 
  margin-top: 45px;
}

/* side-bar-section */
.side-bar-section {
  background: #1e2939;
  width: 400px;
  padding: 40px;
}
.photo {
  margin-top: 5px;
  margin-left: 20px;
}
.contacts-section,
.tech-skills-section,
.soft-skills-section,
.other-skills-section {
  margin: 50px 0 0 10px;
}
.side-bar-title {
  font-style: normal;
  font-style: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin: 10px;
}
/* contacts-section */
.contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-left: 10px;
}
.contacts-section-link {
  color: #565664;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
}
/* skills-section */

.tech-skills-item,
.soft-skills-item,
.other-skills-item {
  margin-left: -5px;
  color: #fb6d3a;
}
.tech-skills-item-text,
.soft-skills-item-text,
.other-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
